.btn-forgot {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 19px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: .07143em solid rgba(0, 0, 0, .1);
    border-radius: .28571em;
    outline: 0;
    background-color: #15c;
    background-image: linear-gradient(-180deg, #3b7cef 0, #15c 100%);
    box-shadow: 0 .07143em .07143em 0 rgba(0, 0, 0, .2);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: calc(15px - 1px);
    font-weight: bold;
    line-height: 1.2;
    height: auto;
}

.g-form-control-text-forgot {
    max-width: 270px;
}

@media screen and (max-width: 400px) {
    .site-main__inner.gr-inner-pages {
        padding: 30px 20px 50px;
    }
    .g-notice--plain {
        margin-bottom: 30px;
    }
}